<footer>
        <div class="footer-cols">
            <div class="col">
                <h4>Về công ty</h4>
                <p>Công Ty Minimal</p>
            </div>
            <div class="col">
                <h4>Trợ giúp</h4>
                <ul>
                    <li>Hướng dẫn mua hàng</li>
                    <li>Chính sách đổi trả</li>
                </ul>
            </div>
            <div class="col">
                <h4>Tin tức & sách</h4>
                <ul>
                    <li>Blog thời trang</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
            <div class="col">
                <h4>Chấp nhận thanh toán</h4>
                <img src="image/payment.jpg" alt="Payment" style="max-width: 200px; height: auto;">
            </div>
            <div class="col">
                <h4>Đối tác vận chuyển</h4>
                <img src="image/shipping.jpg" alt="Shipping" style="max-width: 200px; height: auto;">
            </div>
        </div>
        <div class="mobile-apps">
            <p>Tải ứng dụng tại:</p>
            </div>
    </footer>