<header>
        <div class="top-header">
            <div class="contact">
                <a href="#"><i class="fas fa-question-circle"></i> Liên hệ hỗ trợ</a>
                <a href="#"><i class="far fa-bell"></i> Tin tức</a>
                <a href="#"><i class="fas fa-tags"></i> Khuyến mãi</a>
            </div>
            <div class="account-actions">
                <a href="index.html" id="welcome-user"><i class="fas fa-user-circle"></i> Đăng nhập</a>
                <a href="#" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a> 
            </div>
        </div>

        <div class="main-header">
            <div class="logo">Minimal</div>
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm sản phẩm">
                <button><i class="fas fa-search"></i> Tìm kiếm</button>
            </div>
            <div class="cart">
                <a href="#"><i class="fas fa-shopping-bag"></i> Giỏ hàng (0)</a>
            </div>
        </div>
    </header>